#rightSideNavigationWrapper {
    position: relative;
}

#rightSideNavigation {
    color: white;
    background-color: #F5F5F5;
    box-shadow: 6px 5px 20px 0px #00000040;
    width: 407px;
    height: 1415px;
    position: absolute;
    right: 0;
    z-index: 100;
    #divRightSideNavigation {   
        &__head {
            #buttonCancel {
                position: absolute;
                top: 20px;
                right: 20px;
                cursor: pointer;
            }
            display: flex;
            height: 216px;
            background-color: #0B1245;
            align-items: flex-end;
            #AuthRegistrButtons {
                margin-left: 30px;
                margin-bottom: 40px;
                > * {
                    display: inline-block;
                }
                > img {
                    width: 45px;
                    margin-right: 20px;
                }
                > div {
                    text-align: left;
                    width: 60%;
                    vertical-align: middle;
                    span a {
                        font-size: 18px;
                        text-decoration: none;
                        color: white;
                    }
                    p {
                        margin: 0;
                        font-size: 14px;
                        color: #A1A1A1;
                    }
                }
            }
            
        }
        &__premiumAd {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #FFF84C;
            color: black;
            padding: 8px 32px;
        }
        &__divPremiumAd {
            vertical-align: middle;
            display: inline-block;
            p {
                margin: 0;
            }
            #textPremiumAd {
                font-size: 18px;
                font-weight: bold;
            }
            #descPremiumAd {
                font-size: 12px;
            }
        }

        &__body {
            color: black;
            background-color: #F5F5F5;
            padding: 27px;
            text-align: left;
            #firstPartBody {
                margin: 12px 0;
                font-size: 14px;
                > * {
                    display: inline-block;
                }
                p {
                    margin: 0;
                }
                img {
                    margin-right: 14px;
                }
                .catalogProduct {
                    margin-left: -5px;
                    margin-right: 8px;
                }
            }
            .partRightNav {
                padding: 10px 21px;
                margin-bottom: 10px;
            }
            .divNavButtons {
                position: relative;
                padding: 20px 21px;
                img {
                    position: absolute;
                    right: 20px;
                    top: 25px;
                    cursor: pointer;
                }
                h6 {
                    font-weight: bold;
                }
                div {
                    a {
                        margin: 3.5px 0;
                        color: black;
                        display: block;
                    }
                }
            }
            .left-nav-bar-block {
                width: 100%;
                margin-bottom: 10px;
                * {
                    color: black;
                    font-weight: bold;
                }
                
            }
        }
    }

}
