#most-awaited {
  margin-bottom: 45px;
}

#most-awaited-container {
  max-width: 1445px;
}

#most-awaited-grid-container {
  display: grid;
  height: 610px !important;
  grid-template-columns: 1.2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;

  .large-adaptive-product-card#p1 {
    grid-row: 1 / span 2;
  }
}

@media screen and (width <= 876px) {
  #most-awaited-grid-container {
    .large-adaptive-product-card {
      .previous-price {
        font-size: 14px;
      }

      .price {
        font-size: 20px;
      }

      .large-currency-symbol {
        font-size: 16px;
      }
    }
  }
}

@media screen and (width <= 624px) {
  #most-awaited {
    display: none;
  }
}